<a href="https://colab.research.google.com/github/Bhavita2501/DAB-103/blob/main/project_phase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mounting drive**

In [103]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [104]:
project_dir = 'drive/MyDrive/PYTHON-DEMO/# 0 PROJECT/'

In [105]:
pat_data = pd.read_csv(project_dir+ 'patients_data.csv')

<ipython-input-105-90e67535fd2b>:1: DtypeWarning: Columns (4,12,13,14,15,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  pat_data = pd.read_csv(project_dir+ 'patients_data.csv')

In [106]:
pat_data

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases,Entry_ID
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1.0,NaN
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1.0,NaN
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247231,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218995.0
247232,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218996.0
247233,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218997.0
247234,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218998.0
247235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218999.0

In [107]:
pat_data.head(5)

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases,Entry_ID
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1.0,NaN
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1.0,NaN
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1.0,NaN

In [108]:
pat_data.tail(5)

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases,Entry_ID
247231,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218995.0
247232,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218996.0
247233,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218997.0
247234,NaN,NaN,06/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218998.0
247235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218999.0

# **Data Cleaning part 1**
#### removing  rows with patient number ="NA"

In [109]:
pat_data['Patient Number'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
247231     True
247232     True
247233     True
247234     True
247235     True
Name: Patient Number, Length: 247236, dtype: bool

In [110]:
pat_data['Patient Number'].isna().sum()

147443

In [111]:
pat_data['Patient Number'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 247236 entries, 0 to 247235
Series name: Patient Number
Non-Null Count  Dtype
--------------  -----
99793 non-null  float64
dtypes: float64(1)
memory usage: 1.9 MB

In [112]:
pat_data['Patient Number']

0         1.0
1         2.0
2         3.0
3         4.0
4         5.0
         ...
247231    NaN
247232    NaN
247233    NaN
247234    NaN
247235    NaN
Name: Patient Number, Length: 247236, dtype: float64

# **Find null cells in column 'Patient Number'**

In [113]:
from zmq.constants import NULL
# Find rows with missing values
pat_null=pat_data['Patient Number'].isna()

In [114]:
pat_null

0         False
1         False
2         False
3         False
4         False
          ...
247231     True
247232     True
247233     True
247234     True
247235     True
Name: Patient Number, Length: 247236, dtype: bool

# **removing patient Number which is NA**

In [115]:
pat_data.dropna(subset='Patient Number',inplace=True)

**1st cleaning**

removing rows whose patient number = NA

In [116]:
pat_data #

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases,Entry_ID
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1.0,NaN
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1.0,NaN
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100279,102515.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,Pulwama,Jammu and Kashmir,JK,...,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,1.0,73145.0
100280,102516.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,Reasi,Jammu and Kashmir,JK,...,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,2.0,73146.0
100281,102517.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,Kishtwar,Jammu and Kashmir,JK,...,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,-2.0,73147.0
100282,102609.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,East Sikkim,Sikkim,SK,...,NaN,NaN,NaN,NaN,https://www.eastmojo.com/coronavirus-updates/2...,NaN,NaN,NaN,-3.0,73239.0
100283,102610.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,South Sikkim,Sikkim,SK,...,NaN,NaN,NaN,NaN,https://www.eastmojo.com/coronavirus-updates/2...,NaN,NaN,NaN,3.0,73240.0

In [117]:
pat_data['Estimated Onset Date'].info() # All data of column Estimated Onset Date is NA so we delete "Estimated Onset Date" column

<class 'pandas.core.series.Series'>
Int64Index: 99793 entries, 0 to 100283
Series name: Estimated Onset Date
Non-Null Count  Dtype
--------------  -----
0 non-null      float64
dtypes: float64(1)
memory usage: 1.5 MB

In [118]:
pat_data['Contracted from which Patient (Suspected)'].info()

<class 'pandas.core.series.Series'>
Int64Index: 99793 entries, 0 to 100283
Series name: Contracted from which Patient (Suspected)
Non-Null Count  Dtype
--------------  -----
1923 non-null   object
dtypes: object(1)
memory usage: 1.5+ MB

In [119]:
(1923*100)/99797

1.9269116306101386

# **since 99 % of the cells in Contracted from which Patient (Suspected) column are null**

# therefore we can delete this column

In [120]:
pat_data.drop('Contracted from which Patient (Suspected)',axis=1,inplace=True)

In [121]:
pat_data

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases,Entry_ID
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,Travelled from Wuhan,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,Travelled from Wuhan,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,Travelled from Wuhan,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1.0,NaN
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,"Travelled from Austria, Italy",India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1.0,NaN
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,"Travelled from Dubai to Bangalore on 20th Feb,...",India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100279,102515.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,Pulwama,Jammu and Kashmir,JK,...,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,1.0,73145.0
100280,102516.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,Reasi,Jammu and Kashmir,JK,...,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,2.0,73146.0
100281,102517.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,Kishtwar,Jammu and Kashmir,JK,...,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,-2.0,73147.0
100282,102609.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,East Sikkim,Sikkim,SK,...,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,https://www.eastmojo.com/coronavirus-updates/2...,NaN,NaN,NaN,-3.0,73239.0
100283,102610.0,NaN,19/06/2020,NaN,NaN,NaN,NaN,South Sikkim,Sikkim,SK,...,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,https://www.eastmojo.com/coronavirus-updates/2...,NaN,NaN,NaN,3.0,73240.0

## **removing NULL column that is "Estimated Onset Dat**e"

In [122]:
pat_data.drop('Estimated Onset Date',axis=1,inplace=True)

In [123]:
pat_data

,Patient Number,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases,Entry_ID
0,1.0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1.0,NaN
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1.0,NaN
3,4.0,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1.0,NaN
4,5.0,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100279,102515.0,NaN,19/06/2020,NaN,NaN,NaN,Pulwama,Jammu and Kashmir,JK,Hospitalized,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,1.0,73145.0
100280,102516.0,NaN,19/06/2020,NaN,NaN,NaN,Reasi,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,2.0,73146.0
100281,102517.0,NaN,19/06/2020,NaN,NaN,NaN,Kishtwar,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,https://twitter.com/diprjk/status/127434387638...,NaN,NaN,NaN,-2.0,73147.0
100282,102609.0,NaN,19/06/2020,NaN,NaN,NaN,East Sikkim,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,https://www.eastmojo.com/coronavirus-updates/2...,NaN,NaN,NaN,-3.0,73239.0
100283,102610.0,NaN,19/06/2020,NaN,NaN,NaN,South Sikkim,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,https://www.eastmojo.com/coronavirus-updates/2...,NaN,NaN,NaN,3.0,73240.0

# **since we won't be needing Detected City,Detected District ,Gender and sources_1,sources_2,sources_3 since it's not needed for this project so we are droping those columns**

In [124]:
pat_data.drop(columns=['Detected City','Detected District','Gender','Source_1','Source_2','Source_3'],inplace=True)

In [125]:
pat_data

,Patient Number,State Patient Number,Date Announced,Age Bracket,Detected State,State code,Current Status,Notes,Nationality,Type of transmission,Status Change Date,Backup Notes,Num Cases,Entry_ID
0,1.0,KL-TS-P1,30/01/2020,20,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
1,2.0,KL-AL-P1,02/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
2,3.0,KL-KS-P1,03/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
3,4.0,DL-P1,02/03/2020,45,Delhi,DL,Recovered,"Travelled from Austria, Italy",India,Imported,15/03/2020,Travel history to Italy and Austria,1.0,NaN
4,5.0,TS-P1,02/03/2020,24,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",India,Imported,02/03/2020,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100279,102515.0,NaN,19/06/2020,NaN,Jammu and Kashmir,JK,Hospitalized,NaN,NaN,NaN,NaN,NaN,1.0,73145.0
100280,102516.0,NaN,19/06/2020,NaN,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,NaN,2.0,73146.0
100281,102517.0,NaN,19/06/2020,NaN,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,NaN,-2.0,73147.0
100282,102609.0,NaN,19/06/2020,NaN,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,NaN,-3.0,73239.0
100283,102610.0,NaN,19/06/2020,NaN,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,NaN,3.0,73240.0

### **dropping any row whose all values/cells are NA**

In [126]:
pat_data.dropna(how='all', axis=0, inplace=True)

In [127]:
pat_data

,Patient Number,State Patient Number,Date Announced,Age Bracket,Detected State,State code,Current Status,Notes,Nationality,Type of transmission,Status Change Date,Backup Notes,Num Cases,Entry_ID
0,1.0,KL-TS-P1,30/01/2020,20,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
1,2.0,KL-AL-P1,02/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
2,3.0,KL-KS-P1,03/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
3,4.0,DL-P1,02/03/2020,45,Delhi,DL,Recovered,"Travelled from Austria, Italy",India,Imported,15/03/2020,Travel history to Italy and Austria,1.0,NaN
4,5.0,TS-P1,02/03/2020,24,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",India,Imported,02/03/2020,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100279,102515.0,NaN,19/06/2020,NaN,Jammu and Kashmir,JK,Hospitalized,NaN,NaN,NaN,NaN,NaN,1.0,73145.0
100280,102516.0,NaN,19/06/2020,NaN,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,NaN,2.0,73146.0
100281,102517.0,NaN,19/06/2020,NaN,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,NaN,-2.0,73147.0
100282,102609.0,NaN,19/06/2020,NaN,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,NaN,-3.0,73239.0
100283,102610.0,NaN,19/06/2020,NaN,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,NaN,3.0,73240.0

# we don't need "State Patient Number" as its not contributing to any of our analysis questions

In [128]:
pat_data.drop('State Patient Number',axis =1,inplace=True)

In [129]:
pat_data

,Patient Number,Date Announced,Age Bracket,Detected State,State code,Current Status,Notes,Nationality,Type of transmission,Status Change Date,Backup Notes,Num Cases,Entry_ID
0,1.0,30/01/2020,20,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
1,2.0,02/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
2,3.0,03/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
3,4.0,02/03/2020,45,Delhi,DL,Recovered,"Travelled from Austria, Italy",India,Imported,15/03/2020,Travel history to Italy and Austria,1.0,NaN
4,5.0,02/03/2020,24,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",India,Imported,02/03/2020,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100279,102515.0,19/06/2020,NaN,Jammu and Kashmir,JK,Hospitalized,NaN,NaN,NaN,NaN,NaN,1.0,73145.0
100280,102516.0,19/06/2020,NaN,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,NaN,2.0,73146.0
100281,102517.0,19/06/2020,NaN,Jammu and Kashmir,JK,Recovered,NaN,NaN,NaN,NaN,NaN,-2.0,73147.0
100282,102609.0,19/06/2020,NaN,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,NaN,-3.0,73239.0
100283,102610.0,19/06/2020,NaN,Sikkim,SK,Recovered,Entry was done on 13 Jun but re-concilled now,NaN,NaN,NaN,NaN,3.0,73240.0

## **Drop Any Row which has even 1 cell =NA**

In [130]:
pat_data.dropna(subset='Nationality',axis=0,inplace=True)

In [131]:
pat_data

,Patient Number,Date Announced,Age Bracket,Detected State,State code,Current Status,Notes,Nationality,Type of transmission,Status Change Date,Backup Notes,Num Cases,Entry_ID
0,1.0,30/01/2020,20,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
1,2.0,02/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
2,3.0,03/02/2020,NaN,Kerala,KL,Recovered,Travelled from Wuhan,India,Imported,14/02/2020,Student from Wuhan,1.0,NaN
3,4.0,02/03/2020,45,Delhi,DL,Recovered,"Travelled from Austria, Italy",India,Imported,15/03/2020,Travel history to Italy and Austria,1.0,NaN
4,5.0,02/03/2020,24,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",India,Imported,02/03/2020,"Travel history to Dubai, Singapore contact",1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11589,11590.0,15/04/2020,1,Karnataka,KA,Hospitalized,Influenza like illness,India,Local,15/04/2020,NaN,1.0,NaN
11590,11591.0,15/04/2020,38,Karnataka,KA,Hospitalized,Contact of KA-P221,India,Local,15/04/2020,NaN,1.0,NaN
11591,11592.0,15/04/2020,25,Karnataka,KA,Hospitalized,Contact of KA-P221,India,Local,15/04/2020,NaN,1.0,NaN
11592,11593.0,15/04/2020,32,Karnataka,KA,Hospitalized,Contact of KA-P252,India,Local,15/04/2020,NaN,1.0,NaN
11680,11681.0,15/04/2020,50,Maharashtra,MH,Deceased,"Admitted to Sassoon Hospital on 15th April, 2020",India,Local,17/04/2020,NaN,1.0,NaN